nav{
    display: inline;
}

#Navigation-bar{
    text-align: center;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color:#2E3A59;
    padding: 0,20px;
    padding-top: 13px;
    position: relative;
    font-size: larger;
    
}
a{
    color:#2E3A59;
    text-decoration: none;
}

#Navigation-bar  p{
    position: absolute;
    display: inline;
    top: -6px;
    right: 15px; 
}
p{
    box-sizing: border-box;
    border-radius: 10px;
    padding: 2px;
    background: #EBF4FF;
    color: deepskyblue;
    margin-right: 50px;
}
#Navigation-bar  div{
    position: absolute;
    display: inline;
    top: 13px;
    left: 0px; 
    color: black;
    font-size: xxx-large;
    margin-left: 50px;
}
main{
    width: auto;
    margin-top:10px;
    left: 0px;
    
}
#first{
   margin-top: 100px;
   font-family: "Roboto", sans-serif;
   font-weight: 400;
   color:#2E3A59;
   padding-left: 80px;
   font-size: xxx-large;
   margin-bottom: 0px;
}
#second{
   font-family: "Roboto", sans-serif;
   font-weight: 400;
   color:#0057FF;
   padding-left: 80px;
   font-size: xxx-large;
   margin-top: 0px;
}


img{
    
    margin-top: -350px;
    float: right;
    width: 350px;
    border: 1px ;
    padding-right: 200px;
}
#text{
    
    padding-left: 80px;
    font-size: x-large;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color:#5A6B8C ;
    width: 40%;
   overflow-wrap: break-word;
   
}
footer p{
    display: inline;
    border: 1px solid;
    background-color: #00A3FF;
    color: white;
    padding: 25px; 
    border-radius: 15px;
}
footer{
    margin-top: 50px;
    padding-left: 80px;

}
